#header {
  color: black;
}

#store-selected {
  color: white;
  font-size: 18px;
}

#promotions {
  width: 100%;
}

a.brand-logo {
  font-size: 50px;
}

body {
  width: 100%;
  background-color: white;
}

#back-button {
  position: relative;
  right: 50%
}

table {
  margin: auto;
  width: 70%;


  /*border: 1px solid black;*/
}



th {
  width: 50%;
  /*border: 1px solid black;*/
}

td {

  width: 50%;
  border-radius: 0px;
  font-size: 20px;
  /*border: 1px solid black;*/
}



tr:nth-child(odd) {
  background-color: rgb(210, 207, 207);
}

tr:nth-child(even) {
  background-color: white;
}
th {
  color: black;
  font-size: 24px;
}

a#location {
  color: black;
}


/*.preloader-wrapper {
  visibility: hidden;
}*/

nav {
  background-color: rgb(29, 29, 29);
  width: 100%;
  height: 120px;
  padding-top: 25px;
  padding-left: 10px;
}

#buttons {
  width: 19%;
  margin:auto;
  margin-top: 70px;

}

/*#scrape-button {
  margin: auto;
}*/

.preloader-wrapper {
  margin-top: 80px;
}


@media screen and (max-width: 415px) {

  a.brand-logo {
    font-size: 20px;
    width: 55%;

  }

  nav {
    background-color: rgb(29, 29, 29);
    height: 80px;
    padding-top: 10px;
    padding-left: 0px;
  }


.waves-effect {

width: 300%;
position: relative;
right: 95%;

}

#store-table {

width: 100%;
}

img {
  width: 100%;
}
#store-table th {
  width: 20%;
}

#store-table td {
  width: 20%;
}

}

@media screen and (max-width: 415px) {

  a.brand-logo {
    font-size: 20px;
    width: 60%;

  }

  nav {
    background-color: rgb(29, 29, 29);
    height: 80px;
    padding-top: 10px;
    padding-left: 0px;
  }

}
