#header {
  color: black;
}

#promotions {
  width: 100%;
}

a.brand-logo {
  font-size: 50px;
}

body {
  width: 100%;
  background-color: black;
}

#back-button {
  position: relative;
  right: 50%
}

table {
  margin: auto;
  width: 70%;


  /*border: 1px solid black;*/
}



th {
  width: 50%;
  /*border: 1px solid black;*/
}

td {

  width: 50%;
  border-radius: 0px;
  /*border: 1px solid black;*/
}



tr:nth-child(odd) {
  background-color: #6c6a6a;
}

tr:nth-child(even) {
  background-color: #575757;
}
th {
  color: white;
}

a#location {
  color: black;
}


/*.preloader-wrapper {
  visibility: hidden;
}*/

nav {
  background-color: rgb(29, 29, 29);
  width: 100%;
  height: 120px;
  padding-top: 25px;
  padding-left: 10px;
}

#buttons {
  width: 19%;
  margin:auto;
  margin-top: 70px;

}

/*#scrape-button {
  margin: auto;
}*/

.preloader-wrapper {
  margin-top: 80px;
}
